/* Styles globaux */
.app-container {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
      135deg,
      rgba(0, 102, 204, 0.8),
      rgba(0, 204, 255, 0.8)
    ),
    url("/public/OIP.jpeg") center/cover no-repeat;
  height: 100vh;
}




